body {font-size:1em;font-family:"arial",sans-serif;background:#fff;}
h1,div.link,div.input,#a,footer {text-align:center;}
h2,h3,nav {margin:0;padding:0.5em 0;}
div.link a,nav a {color:#000;}
div.input {padding-top:1em;}
nav a {display:inline-block;padding:0.25em;}
#data
{
	/* "arial" to center vertically */
	display:block;
	font-family:"arial",sans-serif;
	text-align:center;
	width:8em;
	font-size:2em;
	height:1.5em;
	line-height:1.25em;
	margin:0 auto;
	padding:0;
	vertical-align:middle;
}
#ok
{	
	-webkit-appearance:none;
	margin-top:0.5em;
	font-size:2em;
	border:0;
	background:#999;
	color:#fff;
	border-radius:0.5em;
}
#p
{
	text-align:center;
}
#a
{
	width:300px;
	height:300px;
	margin:1em auto;
	border:1px solid #ccc;
}
#ok:hover,
#jaSection button:hover,
#zhHansSection button:hover {cursor:pointer;}
#ok:focus,
#ok:active,
#ok:hover {background:#c00;outline:none;}
#ok::-moz-focus-inner {border: 0;}

label {display:inline-block;white-space:normal;margin:0 0.5em 1em 0.5em;}
label input {vertical-align:text-bottom;}
svg
{
	width:300px;
	height:300px;
}
#jaSection {display:block;}
#zhHansSection {display:none;}
#jaSection button,
#zhHansSection button
{
	font-size:1em;
	color:#000;
	background:#fff;
	border:0;
	margin:1px;
	font-style:bold;
}
#jaSection button.visited,
#zhHansSection button.visited
{
	opacity:0.5;
}
footer {padding-top:1em;}
footer a {color:#000;}
#status {text-align:center;color:#c00;}
